body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}
